
<div class="card">
  <div class="pedido-manualmente">
    <div class="body-button">
      <p-button label="Adicionar Licitação"  icon="pi pi-plus" (onClick)="showAdicionarNovaLicitacao()"></p-button>
    </div>

  </div>

  <p-table
    [lazy]="true"
    dataKey="id"
    [tableStyle]="{ 'min-width': '20rem' , 'width': '100%'}"
    [paginator]="true"
    [rows]="10"
    [globalFilterFields]="['name', 'country.name', 'company', 'representative.name']"
    [value]="ListLicitacoes"
    >

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem" pSortableColumn="licitacao.tipoLicitacao">Tipo</th>
            <th pSortableColumn="licitacao.numeroEdital">Número do Edital</th>
            <th pSortableColumn="licitacao.pregao">Pregão</th>
            <th pSortableColumn="licitacao.dataAberturaProposta">Abertura</th>
            <th pSortableColumn="licitacao.dataFechamentoProposta">Fechamento</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-licitacao>
        <tr>
          <td>{{ licitacao.tipoLicitacao}}</td>
          <td>{{ licitacao.numeroEdital }}</td>
          <td>{{ licitacao.pregao }}</td>
          <td>{{ formatDate(licitacao.dataAberturaProposta) }}</td>
          <td>{{ formatDate(licitacao.dataFechamentoProposta) }} </td>
          <td>
            <button pButton pRipple icon="pi pi-money-bill" class="p-button-rounded p-button-success mr-2" (click)="Cotar(licitacao)"></button>
            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning" (click)="Visualizar(licitacao)"></button>
          </td>
        </tr>
    </ng-template>

  </p-table>
</div>


<p-dialog header="Adicionar Nova Licitação" [(visible)]="ShowDialogAdicionar" [responsive]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <div class="form-dialog">
      <div class= "iten-dialog">
          <label for="newName">Tipo:</label>
          <p-dropdown [options]="ListTipoLicitacao" [(ngModel)]="_tipoLicitacao"  [showClear]="true" placeholder="Tipo de Licitação" appendTo="body"></p-dropdown>
      </div>
      <div class= "iten-dialog">
          <label for="newName">Portal:</label>
          <p-dropdown [options]="ListPortais" [(ngModel)]="_portal"  [showClear]="true" placeholder="Portal Responsável" appendTo="body"></p-dropdown>
      </div>
      <div class= "iten-dialog">
          <label for="newName">Numero Edital:</label>
          <input class="textInput"  type="number" pInputText [(ngModel)]="_numeroEdital"/>
      </div>
      <div class= "iten-dialog">
          <label for="newPrice">Pregão:</label>
          <input class="textInput"  type="number" pInputText [(ngModel)]="_pregao"/>
      </div>
      <div class= "iten-dialog">
          <label for="newStock">Abertura Propostas:</label>
          <!-- <input class="textInput" type="text" pInputText [(ngModel)]="_dataAberturaProposta"/> -->
          <p-calendar [(ngModel)]="_dataAberturaProposta" [showTime]="true" appendTo="body" dateFormat="dd/mm/yy mm"></p-calendar>

      </div>
      <div class= "iten-dialog">
        <label for="newStock">Fechamento Propostas:</label>
        <p-calendar [(ngModel)]="_dataLimiteProposta" [showTime]="true" appendTo="body" dateFormat="dd/mm/yy :mm"></p-calendar>

      </div>
      <div class= "iten-dialog">
          <label for="newStock">Data Publicação Edital:</label>

          <p-calendar [(ngModel)]="_dataPublicacaoEdital" appendTo="body" class="custom-calendar" dateFormat="dd/mm/yy"></p-calendar>

      </div>
      <div class= "iten-dialog">
          <label for="newStock">Arquivos Licitação:</label>
          <p-fileUpload chooseIcon="pi pi-cloud-upload" mode="basic" name="documentos[]" url="URL_PARA_ENVIAR_OS_ARQUIVOS"  multiple-accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" ></p-fileUpload>
      </div>
  </div>
  <div class="button-container">
    <button type="button" pButton label="Salvar" (click)="adicionarLicitacao()"></button>
  </div>
</p-dialog>

<!-- DIALOG COTAÇÃO -->






<!-- DIALOG LICITAÇÃO -->
<p-dialog header="Detalhes Licitação" [(visible)]="ShowDialogDetalhes" [responsive]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <div *ngIf="SelectedLicitacao" class="dialog-content">
    <div class="dialog-item">
      <label>Status:</label>
      <div class="dialog-value" *ngIf="SelectedLicitacao.status ==='Cotação Pendente'" style="color: red;">{{SelectedLicitacao.status}}</div>
      <div class="dialog-value" *ngIf="SelectedLicitacao.status ==='Documentação Pendente'" style="color:rgb(220, 187, 0) ;">{{SelectedLicitacao.status}}</div>
    </div>
    <div class="dialog-item">
      <label>Tipo:</label>
      <div class="dialog-value">{{SelectedLicitacao.tipoLicitacao}}</div>
    </div>
    <div class="dialog-item">
      <label>Portal:</label>
      <div class="dialog-value">{{SelectedLicitacao.portal}}</div>
    </div>
    <!-- ... restante das linhas ... -->
    <div class="dialog-item">
      <label>Numero Edital:</label>
      <div class="dialog-value">{{SelectedLicitacao.numeroEdital}}</div>
    </div>
    <div class="dialog-item">
      <label>Pregão:</label>
      <div class="dialog-value">{{SelectedLicitacao.pregao}}</div>
    </div>
    <div class="dialog-item">
      <label>Fechamento Propostas:</label>
      <div class="dialog-value">{{formatDate(SelectedLicitacao.dataFechamentoProposta)}}</div>
    </div>
    <div class="dialog-item">
      <label>Abertura Propostas:</label>
      <div class="dialog-value">{{ formatDate(SelectedLicitacao.dataAberturaProposta) }}</div>
    </div>
    <div class="dialog-item">
      <label>Publicação Edital:</label>
      <div class="dialog-value">{{formatDateSemHora(SelectedLicitacao.dataPublicacaoEdital)}}</div>
    </div>
  </div>
  <div class="dialog-footer">
    <p-button label="Baixar Anexos" icon="pi pi-download" class="p-button-raised p-button-rounded p-button-secondary" ></p-button>
  </div>
</p-dialog>
<!-- DIALOG LICITAÇÃO -->
<p-dialog header="Cotaçao" [(visible)]="ShowDialogCotacao" [responsive]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <div style="margin-top: 10px;">
    <span style="margin-right: 10px;">
      <p-button label="Adicionar Item" icon="pi pi-plus" (onClick)="adicionarItem()"></p-button>
    </span>

    <p-button label="Baixar Anexos" icon="pi pi-download" class="p-button-raised p-button-rounded p-button-secondary" ></p-button>
  </div>

  <div *ngIf="SelectedLicitacao" class="dialog-content">
    <div class="dialog-item">
      <label>Proposta:</label>
      <div class="dialog-value">{{SelectedLicitacao.numeroEdital}} / {{SelectedLicitacao.pregao}}</div>
    </div>


  </div>
  <div class="dialog-item">
    <p-accordion class="full-width-accordion">
      <p-accordionTab *ngFor="let item of itens; let i = index" header="Item {{ i + 1 }}" class="acordion-item">
        <div>Formulário de cadastro não implementado do item {{ i + 1 }}</div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="dialog-footer">
    <div class="button-container">
      <span style="margin-right: 10px;">
        <p-button label="Salvar" icon="pi pi-save" class="p-button-raised p-button-rounded p-button-secondary"></p-button>
      </span>

      <button type="button" pButton label="Finalizar Cotação" (click)="FinalizarCotacao()"></button>
    </div>
  </div>
</p-dialog>
