.body-button{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.pedido-manualmente{
display: flex;
// float: right;
}
input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575; /* Cor da linha inferior */
  border-radius: 0;
  padding: 7px 0;
  box-shadow: none;
  width: 100%;
}

/* Remove a borda inferior quando o input está focado */
input[type="text"]:focus {
  border-bottom: 2px solid #F07D90; /* Cor da linha quando focado */
  box-shadow: 0 1px 0 0 #F07D90; /* Sombra opcional para destacar o foco */
  outline: none; /* Remove o contorno padrão */
}
input[type="number"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575; /* Cor da linha inferior */
  border-radius: 0;
  padding: 7px 0;
  box-shadow: none;
  width: 60%;
}

/* Remove a borda inferior quando o input está focado */
input[type="number"]:focus {
  border-bottom: 2px solid #F07D90; /* Cor da linha quando focado */
  box-shadow: 0 1px 0 0 #F07D90; /* Sombra opcional para destacar o foco */
  outline: none; /* Remove o contorno padrão */
}
/* Estilo para o label para alinhá-lo corretamente com o input */
label {
  display: block;
  margin-bottom: 5px;
}
.buttonSave{
  float: right;
}
.itenList:hover{
  background-color: #ccc;
  cursor: pointer;
}
.form-text{
  width: 50%;
  font-size: 20px;
}
.textInput{
  font-size: 20px;

}
.ui-dialog .ui-dialog-content {
  overflow: visible !important;
}
.form-dialog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-dialog div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-dialog label {
  flex: 0 0 30%;
  text-align: right;
  margin-right: 10px;

}

.form-dialog .input-field {
  flex: 1;
}

.form-dialog .textInput {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.custom-calendar .p-datepicker td {
  padding: 2px; /* Espaçamento reduzido dentro de cada célula */
}
.iten-dialog{

  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Cor preta com baixa opacidade */
  border-radius: 4px; /* Bordas arredondadas para suavidade */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.textInput {
    text-align: right; /* Alinha o texto à direita */
}
